@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #3755ff;
  --color-grayscale-50: #f2f3f6;
  --color-grayscale-100: #d3d5dd;
  --color-grayscale-300: #a9abbf;
  --color-grayscale-500: #515468;
  --color-grayscale-700: #595c72;
  --color-grayscale-900: #353743;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, sans-serif;
}
